@charset "UTF-8";

body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

body {
  background-image: url('../../assets/images/section_01.png');
  background-size: 100% 100%;
  width: 100%;
  min-height: 775px;
  background-position: 0 0;
  /*background-repeat: no-repeat;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul,
li,
ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

input,
select,
textarea {
  outline: 0;
  border: 0;
  background: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.fl {
  /*display: inline;*/
  float: left;
}

.fr {
  /*display: inline;*/
  float: right;
}

.clearFix::after {
  content: '';
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}

.clearFix {
  zoom: 1;
}

.pos_r {
  position: relative;
}

.pos_a {
  position: absolute;
}

.pos_f {
  position: fixed;
}

.h100 {
  height: 100%;
}

.d-b {
  display: block;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.d-t {
  display: table;
}

.d-n {
  display: none;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.border-t {
  border-top: 1px solid #fff;
}

.margin-t {
  margin-top: -1px;
}

.margin-auto {
  margin: 0 auto;
}

.border-radius {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.border-six-radius {
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}

.border-four-radius {
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-r {
  -webkit-box-orient: vertical;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-c {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-v {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex-align-center {
  align-items: center;
  -webkit-align-items: center;
  box-align: center;
  -moz-box-align: center;
  -webkit-box-align: center
}

.flex-pack-center {
  -webkit-justify-content: center;
  justify-content: center;
  -moz-box-pack: center;
  -webkit--moz-box-pack: center;
  box-pack: center
}

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.flex-around-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around
}

.flex-center-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.flex-left-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start
}

.flex-right-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  justify-content: flex-end
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap
}

.flex-CC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-bold {
  font-weight: 700;
}
